<div>
	{{title}}
</div>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="fa">goals</th>
				<th>0.5</th>
				<th>1.5</th>
				<th>2.5</th>
				<th>3.5</th>
				<th>4.5</th>
				<th>5.5</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>Less</td>
			<td>
				<label for="less_odds1">{{oddsText}}</label>
				<input type="text" class="form-control" id="less_odds1" ng-model="less_odds[0]"/>
				<label for="less_bet1">{{betText}}</label>
				<input type="text" class="form-control" id="less_bet1" ng-model="less_bet[0]"/>
			</td>
			<td>
				<label for="less_odds2">{{oddsText}}</label>
				<input type="text" class="form-control" id="less_odds2" ng-model="less_odds[1]"/>
				<label for="less_bet2">{{betText}}</label>
				<input type="text" class="form-control" id="less_bet2" ng-model="less_bet[1]"/>
			</td>
			<td>
				<label for="less_odds3">{{oddsText}}</label>
				<input type="text" class="form-control" id="less_odds3" ng-model="less_odds[2]"/>
				<label for="less_bet3">{{betText}}</label>
				<input type="text" class="form-control" id="less_bet3" ng-model="less_bet[2]"/>
			</td>
			<td>
				<label for="less_odds4">{{oddsText}}</label>
				<input type="text" class="form-control" id="less_odds4" ng-model="less_odds[3]"/>
				<label for="less_bet4">{{betText}}</label>
				<input type="text" class="form-control" id="less_bet4" ng-model="less_bet[3]"/>
			</td>
			<td>
				<label for="less_odds5">{{oddsText}}</label>
				<input type="text" class="form-control" id="less_odds5" ng-model="less_odds[4]"/>
				<label for="less_bet5">{{betText}}</label>
				<input type="text" class="form-control" id="less_bet5" ng-model="less_bet[4]"/>
			</td>
			<td>
				<label for="less_odds">{{oddsText}}</label>
				<input type="text" class="form-control" id="less_odds6" ng-model="less_odds[5]"/>
				<label for="less_bet6">{{betText}}</label>
				<input type="text" class="form-control" id="less_bet6" ng-model="less_bet[5]"/>
			</td>
		</tr>
		<tr class = "">
			<td>More</td>
			<td>
				<label for="more_odds1">{{oddsText}}</label>
				<input type="text" class="form-control" id="more_odds1" ng-model="more_odds[0]"/>
				<label for="more_bet1">{{betText}}</label>
				<input type="text" class="form-control" id="more_bet1" ng-model="more_bet[0]"/>
			</td>
			<td>
				<label for="more_odds2">{{oddsText}}</label>
				<input type="text" class="form-control" id="more_odds2" ng-model="more_odds[1]"/>
				<label for="more_bet2">{{betText}}</label>
				<input type="text" class="form-control" id="more_bet2" ng-model="more_bet[1]"/>
			</td>
			<td>
				<label for="more_odds3">{{oddsText}}</label>
				<input type="text" class="form-control" id="more_odds3" ng-model="more_odds[2]"/>
				<label for="more_bet3">{{betText}}</label>
				<input type="text" class="form-control" id="more_bet3" ng-model="more_bet[2]"/>
			</td>
			<td>
				<label for="more_odds4">{{oddsText}}</label>
				<input type="text" class="form-control" id="more_odds4" ng-model="more_odds[3]"/>
				<label for="more_bet4">{{betText}}</label>
				<input type="text" class="form-control" id="more_bet4" ng-model="more_bet[3]"/>
			</td>
			<td>
				<label for="more_odds5">{{oddsText}}</label>
				<input type="text" class="form-control" id="more_odds5" ng-model="more_odds[4]"/>
				<label for="more_bet5">{{betText}}</label>
				<input type="text" class="form-control" id="more_bet5" ng-model="more_bet[4]"/>
			</td>
			<td>
				<label for="more_odds">{{oddsText}}</label>
				<input type="text" class="form-control" id="more_odds6" ng-model="more_odds[5]"/>
				<label for="more_bet6">{{betText}}</label>
				<input type="text" class="form-control" id="more_bet6" ng-model="more_bet[5]"/>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="col-md-2 col-sm-6">
		<button type="button" class="btn btn-primary" ng-click="calc()">Calculate</button>
	</div>
	<div class="col-md-2 col-sm-6">
		<label for="result">result</label>
		<input type="text" class="form-control" ng-model="result">

	</div>



</div>
